name: quiz_shower
description: QuizShower
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.1.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  firebase_core: ^2.16.0
  cloud_firestore: ^4.9.2
  cloud_functions: ^4.4.1
  firebase_auth: ^4.10.0
  logger: ^2.0.2+1
  firebase_ui_auth: ^1.8.0
  firebase_ui_localizations: ^1.6.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true

  fonts:
    - family: NotoSansJP
      fonts:
        - asset: assets/fonts/NotoSansJP-Regular.ttf
        - asset: assets/fonts/NotoSansJP-SemiBold.ttf
